body {
	  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
margin: 0;
	padding: 0;
	background-color: #979797;
	}

#wrapper{
	width: 850px;
	margin: 0 auto;
	padding: 0;
}


header#top {
	margin: 20px 0 0 0px;
	border:none;
	padding: 10px;
	background-color: #000000;
	height: 220px;
	width: 900px;
	-webkit-border-radius: 10px;
	border-radius: 10px;}

#opener{
margin-left:0px;
margin-top:0px;
height:220px;
width:inherit;
-webkit-border-radius: 10px;
	border-radius: 10px;}

nav#menu {
	margin: 3px;
	padding: 7px;
	background-color: #0B0B3B;
	width: 900px;
	height:40px;
	float: left;
	font-size:22px;
	color: #000;

	
}
a {
	color:#FFF;
	text-decoration: none;
	padding:40px;

}
a.mail {
	color:#0B0B3B;
	text-decoration: none;
	padding:0px;
}
a:hover {color:#979797;}


a.leaflet-control-zoom-in, a.leaflet-control-zoom-out{
padding:5px!important;


}
section.content {
	margin: 2px 0 0 0px;
	padding: 10px;
	background-color: #C7C7C7;
	width:900px;
	min-height:490px;
	float: left;
	color: #000;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}


footer#bottom {
	margin: 10px 0 0 0px;
	height: 50px;
	width: 760px;
	clear:both;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color:#000;	
	color:#FFF;
	text-align: left;
	padding-top: 20px;
	padding-left: 160px;
}

img.footer{ width:200px;height:auto;
	margin-left: 340px;}

header {
   color: #000000;
   font-size: 20pt;
   margin-left: 15px;}


h2 {
   color: #000000;
   font-size: 12pt;
  
   }

img.content {height:200px;
float:right;
position:relative;}

#map { width:100%; height:400px; padding:0;margin:0;
  background-color:#0B0B3B;
}


div.doctor {background-color:#979797; 
	padding-top:1px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	height:auto;
	width: auto;
text-align:justify;
margin-bottom: 5px;}


img.doctorleft {
	height:70px;
	width: auto;
	float:right;
	position:relative;
	margin-left: 15px;
	margin-bottom: 3px;
	padding-top: 3px;
}

.formular { padding:10px; 
      display: block;
}
.feld{
-webkit-border-radius: 5px;
	border-radius: 5px;}

.formularcheck{display:block; padding:2px;
	}
#absenden{margin-left:15px;}

:invalid {
  
  border-color:blue;
  border-width: 3px;
}
  
:valid {
  border-color:blue;
}
  
:required {
  border-color: red;
  border-color: #800000;
   border-width: 3px;background-color:#c7c7c7
}
/*Nadja Krenzien (nk15qx), Student Number: 5938998, IASC2P02, Final Assignment*/